/* VARIABLES */

//colors
$color-btn: rgba(220,20,60,1.0);
$color-btn-hover: rgba(220,20,60,0.8);
$color-a: white;
$color-a-hover: #ccc;
$color-light-text: white;
$color-dark-text:slategray;

$color-border-header: white;
$color-border-subheader: lightblue;
$color-border-biz: cornflowerblue;
$color-border-news: springgreen;
$color-border-events: orangered;
$color-border-light-nav: #ccc;

$color-light-nav: white;

$color-overlay: rgba(0,0,0,0.5);
$color-light-overlay: rgba(220,20,60,0.9);
$color-bg-modal: white;
$color-bg-header: steelblue;

//images
$bg-homepage: url(https://media.timeout.com/images/102750879/750/422/image.jpg);


/*
  _   _  ._   _  ._ _. |
 (_| (/_ | | (/_ | (_| |
  _|
*/

body {
  width: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
}

input[type="submit"] {
  background-color: $color-btn;
  color: $color-light-text;
  &:hover {
    background-color: $color-btn-hover;
    color: $color-light-text;
    border-color: $color-light-text;
  }
}

#modal-login, #modal-new {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $color-overlay;
  z-index: 9999;

  & .modal-inner {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    background: $color-bg-modal;
    padding: 1em;
    & input[type="submit"], button {
      display: block;
      float: right;
      clear: both;
    }
  }
}

nav {
  width: 100%;
  height: 3.5em;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: $color-light-nav solid 1px;

  & h2 {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    text-align: left;
    float: left;
    text-transform: capitalize;
    letter-spacing: 0.05em;
  }
  & ul {
    margin-top: 1em;
    margin-bottom: 0;
    float: right;
    text-align: right;
    & li {
      list-style-type: none;
      display:inline-block;
      padding:0 1em;
      text-decoration: none;
      &:first-child {
        border-right: solid 1px white;
      }
    }
  }
  & .row {
    width: 100%;
  }
}

/*
 _|_    ._   _   _  ._ _. ._  |_
  |_ \/ |_) (_) (_| | (_| |_) | | \/
     /  |        _|       |       /
*/

a {
  cursor:pointer;
  text-decoration: none;
  color: $color-a;

  &:hover {
    color: $color-a;
    text-decoration: underline;
  }
}

h1 {
  text-transform: capitalize;
}

/*
 |_   _   _.  _|  _  ._ _
 | | (/_ (_| (_| (/_ | _>
*/

header {
  width: 100%;
  margin: 0;

  &.homepage {
    height: 100vh;
    color: $color-light-text;
    text-align: center;
    background-image: $bg-homepage;
    background-repeat: no-repeat;
    background-size: cover;

    & h1 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    & em {
      font-weight: lighter;
      font-size: 1.3em;
    }
    & form {
      margin-top: 2em;
    }
    & .overlay {
      width: 100%;
      height: 100vh;
      margin: 0;
      background-color: $color-overlay;
      padding-top: 8em;
    }
  }

  &.hoodpage {
    text-align: center;
    padding: 4em 0;
    margin-bottom: 2em;
    font-weight: lighter;
    // background-color: $color-bg-header;
    background: #e53935; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #e53935 , #e35d5b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #e53935 , #e35d5b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: $color-light-text;

    & em {
      padding: 0 2em;
      border-bottom: solid 1px $color-border-header;
      text-transform: capitalize;
    }
    &.user {
      padding-top: 7.5em;
    }
  }
}

/*
  _  _  ._ _|_  _. o ._   _  ._ _
 (_ (_) | | |_ (_| | | | (/_ | _>
*/

.hood {
  padding:1em;
  & h1 {
    font-size: 2em;
    border-bottom: solid 1px $color-bg-header;
    color: $color-bg-header;
  }
  & section {
    padding:1em;

    & h1 {
      font-size: 1.5em;
      border: 0;
    }
    & a {
      color: $color-btn;
      &:hover {
        color: $color-btn-hover;
      }
    }
  }
}

.bizs {
  border-right: dotted 1px $color-border-biz;
  padding-right: 2em;

  & section {
  text-align: center;

    & img {
      width: 70%;
      &.small {
        width: 30%;
      }
    }
  }
}

.news section {
  & img {
    width: 100%;
  }
}

.events {
  border-left: dotted 1px $color-border-biz;
  padding-left: 2em;
}

#hood {
  & nav {
    border-bottom-color: $color-border-light-nav;
    background-color: $color-light-overlay;
    color: $color-light-text;
  }
  & .row {
    width: 95%;
    margin: 0 auto;
  }
}

#profile {
  margin-top: 5em;
  & a {
    color: $color-btn;
    text-transform: capitalize;

    &:hover {
      color: $color-btn-hover;
    }
  }
  & .row {
    width: 80%;
    margin: 0 auto;
  }
  & nav {
    border-bottom-color: $color-border-light-nav;
    background-color: $color-light-overlay;
    color: $color-light-text;
    & a {
      color: $color-light-text;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.faves {
  margin-top: 12em;
  & h2 {
    font-size: 2em;
    border-bottom: solid 1px $color-btn;
  }
  & h3 {
    font-size: 1.5em;
  }
}


/*
   __
  /  \ ._ _   _   _| o  _.
 | (|/ | | | (/_ (_| | (_|
  \__
*/

@media only screen and (max-width: 560px) {
  nav h2 {
    display: none;
  }
}
