<nav class="userNav">
  <div class="row">
    <div class="four columns">
      <h2>welcome, <%= user.fname %>!</h2>
    </div>
    <ul class="eight columns">
      <li><a href="/user/profile">Profile</a></li>
      <li><a href="/user/logout">LogOut</a></li>
    </ul>
  </div><!-- .row -->
</nav>
