  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hood Guide</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
