<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
  <header class="homepage">
    <h1>'Hood Guide</h1>
    <h2>your first friend in the neighborhood</h2>
    <form action="/home/index" method="get">
      <input type="text" name="neighborhood" placeholder="enter your new neighborhood name">
      <input type="submit" value="Find my Hood">
    </form>
  </header>
</body>
</html>
