<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
  <header class="homepage">

    <h1>'Hood Guide</h1>
    <h2>your first friend in the neighborhood</h2>

    <% if(user){ %>
      <h2>welcome, <%= user.fname %>!</h2>
      <a href="/neighborhoods/location?location=<%= user.neighborhood %>">Browse <%= user.neighborhood %></a>
      <p>or search a new one</p>
    <% } %>

    <form action="/neighborhoods/location" method="get">
      <select name="borough">Borough
        <option value="brooklyn">Brooklyn</option>
        <option value="manhatten">Manhatten</option>
        <option value="queens">Queens</option>
        <option value="the bronx">The Bronx</option>
        <option value="staten island">Staten Island</option>
      </select>

      <input type="text" name="location" placeholder="name of neighborhood">
      <input type="submit" value="Find my Hood">
    </form>

    <% if(user) { %>
      <a href="/user/profile">See full profile</a>
      <a href="/user/logout">LOGOUT</a>
    <% } else { %>
      <a class="loginLink">LOGIN</a>
      <a class="newLink">SIGN UP</a>
    <% } %>

  </header>

  <div id="modal-login">
    <div class="modal-inner">
      <h1>Login</h1>
      <form action="/user/login" method="post">
        <label for="">Email:</label>
        <input type="text" name="email">
        <br>
        <label for="">Password:</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login">
      </form>
      <button class="closeLogin">close</button>
    </div><!-- .modal-inner -->
  </div><!-- #modal-login -->

  <div id="modal-new">
    <div class="modal-inner">
    <h1>New User</h1>
      <form action="/user/new" method="post">
        <label for="">First Name:</label>
        <input type="text" name="fname">
        <br>
        <label for="">Last Name:</label>
        <input type="text" name="lname">
        <br>
        <label for="">e-mail:</label>
        <input type="text" name="email">
        <br>
        <label for="">Password:</label>
        <input type="password" name="password">
        <br>
        <label for="">Neighborhood:</label>
        <input type="text" name="neighborhood">
        <br>
        <input type="submit" value="Create New User">
      </form>
      <button class="closeNew">close</button>
    </div><!-- .modal-inner -->
  </div><!-- #modal-new -->

</body>
</html>
