<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
  <header class="homepage">

    <h1>'Hood Guide</h1>

    <% if(user){ %>
      <h2>welcome, <%= user.fname %>!</h2>
      <a href="/neighborhoods/location?location=<%= user.neighborhood %>">Browse <%= user.neighborhood %></a>
      <p>or search a new one</p>
    <% } %>

    <h2>your first friend in the neighborhood</h2>

    <form action="/neighborhoods/location" method="get">
      <input type="text" name="location" placeholder="name of neighborhood">
      <input type="submit" value="Find my Hood">
    </form>

    <% if(user) { %>
      <a href="/user/profile">See full profile</a>
    <% } else { %>
      <a href="/user/login">LOGIN</a>
      <a href="/user/new">SIGN UP</a>
    <% } %>

  </header>
</body>
</html>
