<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
  <header class="homepage">

    <h2>welcome,
    <% if(user){ %>
      <%= user.fname %> <%= user.lname %>
    <% } else { %>
      guest!
      <a href="/user/login">LOGIN</a>
    <% } %>
  </h2>

    <h1>'Hood Guide</h1>
    <h2>your first friend in the neighborhood</h2>

    <form action="/neighborhoods/location" method="get">
      <input type="text" name="location" placeholder="name of neighborhood">
      <input type="submit" value="Find my Hood">
    </form>

    <p>or</p>
    <a href="/user/login">LOGIN</a>

  </header>
</body>
</html>
