<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
  <header class="homepage">
    <div class="overlay">

    <% if(user) { %>
      <% include ../partials/nav %>
    <% } %>

    <h1>'Hood Guide</h1>
    <em>your first friend in the neighborhood</em>

    <% if(user){ %>
      <br>
      <a href="/neighborhoods/location?location=<%= user.neighborhood %>&borough=<%= user.borough %>">Browse <%= user.neighborhood %></a>
      <p>or search a new one</p>
    <% } %>

    <form action="/neighborhoods/location" method="get">
      <select name="borough">Borough
        <option value="brooklyn">Brooklyn</option>
        <option value="manhatten">Manhatten</option>
        <option value="queens">Queens</option>
        <option value="staten island">Staten Island</option>
      </select>

      <input type="text" name="location" placeholder="name of neighborhood">
      <input type="submit" value="Find my Hood">
    </form>

    <% if(!user) { %>
      <a class="loginLink">LOGIN</a> |
      <a class="newLink">SIGN UP</a>
    <% } %>

    </div><!-- .overlay -->
  </header>

  <div id="modal-login">
    <div class="modal-inner">
      <h1>Login</h1>
      <form action="/user/login" method="post">
        <div class="row">
          <div class="six columns">
            <label for="">Email:</label>
            <input type="text" name="email">
          </div>
          <div class="six columns">
            <label for="">Password:</label>
            <input type="password" name="password">
          </div>
        </div>
        <input type="submit" value="Login">
      </form>
      <button class="closeLogin">close</button>
    </div><!-- .modal-inner -->
  </div><!-- #modal-login -->

  <div id="modal-new">
    <div class="modal-inner">
    <h1>New User</h1>
      <form action="/user/new" method="post">
        <div class="row">
          <div class="six columns">
            <label for="">First Name:</label>
            <input type="text" name="fname">
            <label for="">Last Name:</label>
            <input type="text" name="lname">
            <label for="">Neighborhood:</label>
            <input type="text" name="neighborhood">
          </div>
          <div class="six columns">
            <label for="">e-mail:</label>
            <input type="text" name="email">
            <label for="">Password:</label>
            <input type="password" name="password">
            <label for="">Borough:</label>
            <select name="borough">
              <option value="brooklyn">Brooklyn</option>
              <option value="manhatten">Manhatten</option>
              <option value="queens">Queens</option>
              <option value="the bronx">The Bronx</option>
              <option value="staten island">Staten Island</option>
            </select>
          </div>
        </div>
        <input type="submit" value="Create New User">
      </form>
      <button class="closeNew">close</button>
    </div><!-- .modal-inner -->
  </div><!-- #modal-new -->

</body>
</html>
